<section class="portfolio-modal" id="portfolioModal1">
    <div class="container wrapper-white padding-bottom-medium">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2>{{currentApp.applicationName}}</h2>
                    <p class="item-intro text-muted">{{currentApp.shortDescription}}</p>
                    <img class="img-responsive img-centered" src="{{currentApp.applicationLogoReference}}" alt="" />
                    <p><div ta-bind ng-model="currentApp.applicationDescription"></div></p>
                    <p><strong>{{'detail.servicePrice' | translate}}</strong> {{currentApp.servicePrice}}</p>
                    <p><strong>{{'detail.platformPrice' | translate}}</strong> {{currentApp.platformPrice}}</p>
                    <p><strong>{{'detail.serverSizeRequired' | translate}}</strong> {{currentApp.size.size}}</p>
                    <h4 ng-show="currentApp.applicationIsTryable">{{'detail.applicationCanBeTested' | translate}}</h4>
                </div>
            </div>
        </div>
        <div>
            <form ng-show="showButton && showSubscribe" class="form" role="form dropzone" name="form_subscribe">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="checkbox">
                                <label for="termsAndConditions">
                                    <input type="checkbox" id="termsAndConditions" placeholder="{{'detail.termsAndConditions' | translate}}"
                                           autocomplete="off" name="termsAndConditions" ng-model="currentApp.terms" required />
                                    Agree with
                                </label>
                                <a href="{{currentApp.terms}}">Terms &amp; conditions</a>

                                <div ng-show="form_subscribe.termsAndConditions.$dirty && form_subscribe.termsAndConditions.$invalid || form_subscribe.termsAndConditions.$touched">
                                    <p class="help-block"
                                       ng-show="form_subscribe.termsAndConditions.$error.required"
                                       translate="detail.messages.validate.termsAndConditions.required">
                                        Accept terms and conditions is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                            <input type="button" class="hvr-rectangle-out" ng-disabled="form_subscribe.$invalid" ng-click="goToSubscribe()"
                                   value="{{'detail.button.subscribe' | translate}}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div ng-show="showButton && showInstances" class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <input type="button" class="hvr-rectangle-out" ng-click="goToInstances()"
                           value="{{'detail.button.instances' | translate}}" />
                </div>
            </div>
            <div ng-show="showButton && showRegister" class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <input type="button" class="hvr-rectangle-out" ng-click="goToRegister()"
                           value="{{'detail.button.register_subscribe' | translate}}" />
                </div>
            </div>
            <div ng-show="showButton && showEditService" class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <input type="button" class="hvr-rectangle-out" ng-click="goToPublish()"
                           value="{{'detail.button.completepublish' | translate}}" />
                </div>
            </div>
        </div>
    </div>
</section>
