<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="user_org_manager.title.org_detail">Organization Detail</div>
        <div class="panel-body">
            <form name="org_form" novalidate ng-submit="submitOrganizationForm(org.id)" show-validation>
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="darkgreen"translate="user_org_manager.col.name">Name:</label>
                        <input type="text" class="form-control" ng-model="org.organizationName">
                    </div>
                    <div class="form-group row">
                        <label class="darkgreen"translate="user_org_manager.col.description">Description:</label>
                        <input type="text" class="form-control" ng-model="org.description">
                    </div>
                    <div class="form-group row">
                        <label class="darkgreen"translate="user_org_manager.col.organizationKey">Organization key:</label>
                        <input type="text" class="form-control" ng-model="org.organizationKey">
                    </div>
                    <div class="form-group row">
                        <!-- This will be useful for organizations -->
                        <label class="darkgreen" translate="user_org_manager.col.type">Type:</label>
                        <select class="form-control" ng-model="org.organizationType.id" >
                            <option ng-repeat="t in types" value="{{t.id}}">{{t.types}}</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <!-- This will be useful for organizations -->
                        <label class="darkgreen" translate="user_org_manager.col.status">Status:</label>
                        <select class="form-control" ng-model="org.organizationStatus.id" >
                            <option ng-repeat="s in status" value="{{s.id}}">{{s.status}}</option>
                        </select>
                    </div>
                    <button ng-show="org.id" type="submit" ng-disabled="org_form.$invalid" class="btn btn-success" translate="user_org_manager.button.edit_organization">Edit Organization</button>
                    <button ng-hide="org.id" type="submit" ng-disabled="org_form.$invalid" class="btn btn-success" translate="user_org_manager.button.create_organization">Create Organization</button>
<!--
                    <button ng-show="org.id" type="button" class="btn btn-success" ng-click="saveOrganization()" translate="user_org_manager.button.edit_organization">Edit Organization</button>
                    <button ng-hide="org.id" type="button" class="btn btn-success" ng-click="createOrganization()" translate="user_org_manager.button.create_organization">Create Organization</button>
                    -->
                </div>
            </form>
        </div>
    </div>
</div>