<section class="wizzard-modal" id="signin">
    <div class="container wrapper-white">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="backend-box">
                    <div class="backend-box-cabecera text-center" translate="user_org_manager.title.org">
                        Organization Management
                    </div>
                    <div class="backend-box-content">
                        <form class="form" role="form dropzone">
                            <div class="form-group">
                                <button type="button" class="btn btn-reverse" ng-click="createOrganizationPage()" >+ {{'user_org_manager.button.create' | translate}}</button>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="searchTextOrg" placeholder="{{'user_org_manager.search' | translate}}" />

                                    <span class="input-group-btn">
                                        <button class="btn btn-search" type="button"><img src="assets/img/auth/icn_search.png" /></button>
                                    </span>

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th translate="user_org_manager.col.name">Name</th>
                                                <th translate="user_org_manager.col.status">Status</th>
                                                <th translate="user_org_manager.col.type">Type</th>
                                                <th translate="user_org_manager.col.actions">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="org in organizations | filter:searchTextOrg | startFrom:currentPageO*pageSizeO | limitTo:pageSizeO">
                                                <td>{{org.organizationName}}</td>
                                                <td>{{org.organizationStatus.status}}</td>
                                                <td>{{org.organizationType.types}}</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-icon" ng-click="editOrganization(org)" ><i class="fa fa-pencil-square-o"></i>{{'user_org_manager.button.edit' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="deleteOrganization(org.id)" ><i class="fa fa-trash-o"></i>{{'user_org_manager.button.delete' | translate}}</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- PAGINATION BUTTONS -->
                            <div class="form-group">
                                <div class="input-group text-center" style="display: block">
                                    <button class="btn btn-icon" type="button" ng-disabled="currentPageO == 0" ng-click="currentPageO=currentPageO-1" ><i class="fa fa-chevron-left"></i></button>
                                    <span class="pagination-number">{{currentPageO+1}}/{{numberOfPagesO()}}</span>
                                    <button class="btn btn-icon" type="button" ng-disabled="currentPageO >= dataLengthO()/pageSizeO - 1" ng-click="currentPageO=currentPageO+1" ><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="user_org_manager.title.org">Organization Management</div>
        <div class="panel-body">
            <div class="col-md-12">
                <label>{{'user_org_manager.search' | translate}}</label>
                <input ng-model="searchTextOrg">
                <button type="button" ng-click="createOrganizationPage()" class="btn btn-default"  translate="user_org_manager.button.create_organization">Create Organization</button>
                <hr>
                <table id="searchTextResults" cellspacing="1" cellpadding="1" class="table-responsive"  style="width: 100%;">
                    <thead>
                    <tr>
                        <th translate="user_org_manager.col.name">Name</th>
                        <th translate="user_org_manager.col.status">Status</th>
                        <th translate="user_org_manager.col.type">Type</th>
                        <th translate="user_org_manager.col.actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="org in organizations | filter:searchTextOrg">
                        <td>{{org.organizationName}}</td>
                        <td>{{org.organizationStatus.status}}</td>
                        <td>{{org.organizationType.types}}</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-icon" ng-click="editOrganization(org)" ><i class="icon"><img src="assets/img/auth/icn_edit.png" /></i>{{'user_org_manager.button.edit' | translate}}</button>
                            <button type="button" class="btn btn-icon" ng-click="deleteOrganization(org.id)" ><img src="assets/img/auth/icn_delete.png" /></i>{{'user_org_manager.button.delete' | translate}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->
