<section class="wizzard-modal" id="signin">
    <div class="container wrapper-white">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="backend-box">
                    <div class="backend-box-cabecera text-center" translate="user_org_manager.title.user">
                        User Management
                    </div>
                    <div class="backend-box-content">
                        <form class="form" role="form dropzone">
                            <div class="form-group">
                                <button type="button" class="btn btn-reverse" ng-click="createUserPage()" >+ {{'user_org_manager.button.create' | translate}}</button>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="searchTextUser" placeholder="{{'user_org_manager.search' | translate}}" />

                                    <span class="input-group-btn">
                                        <button class="btn btn-search" type="button"><img src="assets/img/auth/icn_search.png" /></button>
                                    </span>

                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th translate="user_org_manager.col.login">Alias</th>
                                                <th translate="user_org_manager.col.name">Name</th>
                                                <th translate="user_org_manager.col.email">Email</th>
                                                <th translate="user_org_manager.col.organization">Organization</th>
                                                <th translate="user_org_manager.col.actions">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="user in users | filter:searchTextUser | startFrom:currentPageU*pageSizeU | limitTo:pageSizeU">
                                                <td>{{user.login}}</td>
                                                <td>{{user.firstName}} {{user.lastName}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.organizationId.organizationName}}</td>
                                                <td class="text-right">
                                                    <button type="button" ng-click="editUser(user)" class="btn btn-icon" ><i class="fa fa-pencil-square-o"></i>{{'user_org_manager.button.edit' | translate}}</button>
                                                    <button type="button" ng-click="deleteUser(user.id)" class="btn btn-icon" ><i class="fa fa-trash-o"></i>{{'user_org_manager.button.delete' | translate}}</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- PAGINATION BUTTONS -->
                            <div class="form-group">
                                <div class="input-group text-center" style="display: block">
                                    <button class="btn btn-icon" type="button" ng-disabled="currentPageU == 0" ng-click="currentPageU=currentPageU-1" ><i class="fa fa-chevron-left"></i></button>
                                    <span class="pagination-number">{{currentPageU+1}}/{{numberOfPagesU()}}</span>
                                    <button class="btn btn-icon" type="button" ng-disabled="currentPageU >= dataLengthU()/pageSizeU - 1" ng-click="currentPageU=currentPageU+1" ><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="user_org_manager.title.user">User Management</div>
        <div class="panel-body">
            <div class="col-md-12 ">
                <label>{{'user_org_manager.search' | translate}}</label>
                <input ng-model="searchTextUser">
                <button type="button" ng-click="createUserPage()" class="btn btn-default"  translate="user_org_manager.button.create_user">Create User</button>
                <hr>
                <table id="searchTextResults" cellspacing="1" cellpadding="1" class="table-responsive"  style="width: 100%;">
                    <tr>
                        <th class="darkgreen" translate="user_org_manager.col.login">Alias</th>
                        <th class="darkgreen" translate="user_org_manager.col.firstName">First Name</th>
                        <th class="darkgreen" translate="user_org_manager.col.lastName">Last Name</th>
                        <th class="darkgreen" translate="user_org_manager.col.email">Email</th>
                        <th class="darkgreen" translate="user_org_manager.col.organization">Organization</th>
                        <th class="darkgreen" translate="user_org_manager.col.actions">Actions</th>
                    </tr>
                    <tr ng-repeat="user in users | filter:searchTextUser">
                        <td>{{user.login}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.organizationId.organizationName}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" ng-click="editUser(user)" class="btn btn-default"  translate="user_org_manager.button.edit">Edit</button>
                                <button type="button" ng-click="deleteUser(user.id)" class="btn btn-default"  translate="user_org_manager.button.delete">Delete</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
-->
