<section class="wizzard-modal">
    <div class="container wrapper-white">

        <div class="row" ng-show="isPublisher()">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <button type="button" class="btn btn-reverse" ng-click="toscaide()" translate="instances.go_to_tosca_ide">Go to TOSCA IDE</button>
                </div>
            </div>
        </div>
        <div class="row" ng-show="isSubscriber()">
            <div class="col-md-10 col-md-offset-1">
                <div class="backend-box">
                    <div class="backend-box-cabecera text-center" translate="instances.title">
                        My Instances Service
                    </div>
                    <div class="backend-box-content">
                        <div class="alert alert-info" ng-show="infoMessage">
                            {{infoMessage}}
                        </div>
                        <div class="alert alert-danger" ng-show="errorMessage">
                            {{errorMessage}}
                        </div>
                        <form class="form" role="form dropzone">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="searchTextInstance" placeholder="{{'instances.placeholder' | translate}}" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-search" type="button"><img src="assets/img/auth/icn_search.png" /></button>
                                    </span>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th translate="instances.col.instanceof">Instance of</th>
                                                <th translate="instances.col.author">Author</th>
                                                <th translate="instances.col.date">Date</th>
                                                <th translate="instances.col.status">Status</th>
                                                <th translate="instances.col.actions">Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="instance in instancesList | filter:searchTextInstance | startFrom:currentPage*pageSize | limitTo:pageSize">
                                                <td>{{instance.applicationName}}</td>
                                                <td>{{instance.customerOrganizationId.organizationName}}</td>
                                                <td>{{instance.customizationCreation}}</td>
                                                <td>{{instance.statusId.status}}</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-icon" ng-click="test(instance)" ng-autodisable><i class="fa fa-flask"></i>{{'instances.button.test' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="demo(instance)" ng-autodisable><i class="fa fa-external-link"></i>{{'instances.button.demo' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="deploy(instance)" ng-autodisable><i class="fa fa-rocket"></i>{{'instances.button.deploy' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="start(instance)" ng-autodisable><i class="fa fa-play-circle"></i>{{'instances.button.start' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="stop(instance)" ng-autodisable><i class="fa fa-stop-circle"></i>{{'instances.button.stop' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="monitor(instance)" ng-autodisable><i class="fa fa-bar-chart"></i>{{'instances.button.monitor' | translate}}</button>
                                                    <button type="button" class="btn btn-icon" ng-click="delete(instance)" ng-autodisable><i class="fa fa-trash-o"></i>{{'instances.button.delete' | translate}}</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- PAGINATION BUTTONS -->
                            <div class="form-group">
                                <div class="input-group text-center" style="display: block">
                                    <button class="btn btn-icon" type="button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" ><i class="fa fa-chevron-left"></i></button>
                                    <span class="pagination-number">{{currentPage+1}}/{{numberOfPages()}}</span>
                                    <button class="btn btn-icon" type="button" ng-disabled="currentPage >= dataLength()/pageSize - 1" ng-click="currentPage=currentPage+1" ><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>

                            <!--
                            <div class="row row-actions">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary pull-right">Next</button>
                                </div>
                            </div>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
