<section>
    <div class="container wrapper-white">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="backend-box">
                    <div class="backend-box-cabecera text-center" translate="chooseaccount.title">
                        Cloud Accounts Available
                    </div>
                    <div class="backend-box-content">
                        <div class="alert alert-danger" ng-show="errorMessage">
                            {{errorMessage}}
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th translate="chooseaccount.col.name">Cloud Account Name</th>
                                                <th translate="chooseaccount.col.provider">Provider</th>
                                                <th class="table-col-actions actions-short"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="clAcc in cloudAccountsList">
                                                <td>{{clAcc.name}}</td>
                                                <td>{{clAcc.providerId.provider}}</td>
                                                <td class="table-col-actions actions-short">
                                                    <button type="button" class="btn btn-icon actionsTooltip" ng-click="choose(clAcc)" ng-autodisable>
                                                        <i class="fa fa-check-circle-o"></i>{{'chooseaccount.button.choose' | translate | limitTo: 3}}.<span>{{'chooseaccount.button.choose' | translate}}</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
