<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="chooseaccount.title">Cloud Accounts Available</div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-show="errorMessage">
                {{errorMessage}}
            </div>
            <table cellspacing="1" cellpadding="1" class="table-responsive" style="width: 100%;">
                <tr>
                    <th translate="chooseaccount.col.name">Cloud Account Name</th>
                    <th translate="chooseaccount.col.provider">Provider</th>
                    <th></th>
                </tr>
                <tr ng-repeat="clAcc in cloudAccountsList">
                    <td>{{clAcc.name}}</td>
                    <td>{{clAcc.providerId.provider}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" ng-click="choose(clAcc)" translate="chooseaccount.button.choose">Choose</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
