<section>
    <div class="container wrapper-white">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="backend-box">
                    <div class="backend-box-cabecera text-center" translate="cloudaccount.title">
                        Cloud Accounts
                    </div>
                    <div class="backend-box-content">
                        <div class="alert alert-success" ng-show="successNew" translate="cloudaccount.messages.success.new">
                            <strong>{{'cloudaccount.alert.sent' | translate}}</strong> {{'cloudaccount.alert.contact_you' | translate}}
                        </div>
                        <div class="alert alert-success" ng-show="successUpdate" translate="cloudaccount.messages.success.update">
                            <strong>{{'cloudaccount.alert.sent' | translate}}</strong> {{'cloudaccount.alert.contact_you' | translate}}
                        </div>
                        <div class="alert alert-danger" ng-show="error" translate="cloudaccount.messages.error.fail">
                            <strong>{{'cloudaccount.alert.wrong' | translate}}</strong> {{'cloudaccount.alert.try_again' | translate}}
                        </div>

                        <form class="form" ng-show="!success" name="form" role="form" novalidate ng-submit="createCloudAccount()" show-validation>

                            <div class="form-group">
                                <label translate="cloudaccount.form.name">Name</label>
                                <input type="text" class="form-control" name="name" placeholder="{{'cloudaccount.form.placeholder.name' | translate}}"
                                       ng-model="cloudAcc.name" required>
                            </div>
                            <div class="form-group">
                                <label translate="cloudaccount.form.provider">Provider</label>
                                <select class="form-control" ng-model="cloudAcc.providerId.id"
                                        ng-options="p.id as p.provider for p in providerList">
                                </select>
                            </div>
                            <div class="form-group">
                                <label translate="cloudaccount.form.apiKey">API Key</label>
                                <input type="text" class="form-control" name="apiKey" placeholder="{{'cloudaccount.form.placeholder.apiKey' | translate}}"
                                       ng-model="cloudAcc.apiKey" required>
                            </div>
                            <div class="form-group">
                                <label translate="cloudaccount.form.secretKey">Secret Key</label>
                                <input type="text" class="form-control" name="secretKey" placeholder="{{'cloudaccount.form.placeholder.secretKey' | translate}}"
                                       ng-model="cloudAcc.secretKey" required>
                            </div>
                            <div class="form-group">
                                <label translate="cloudaccount.form.endpoint">Endpoint</label>
                                <input type="text" class="form-control" name="endpoint" placeholder="{{'cloudaccount.form.placeholder.endpoint' | translate}}"
                                       ng-model="cloudAcc.endpoint" required>
                            </div>

                            <div class="row row-actions">
                                <div class="col-xs-6">
                                    <button ng-hide="cloudAcc.id" type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="cloudaccount.form.button.save">Save</button>
                                    <button ng-show="cloudAcc.id" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="updateCloudAccount()" translate="cloudaccount.form.button.update">Update</button>
                                    <button ng-show="cloudAcc.id" class="btn btn-secondary" ng-click="deleteCloudAccount()" translate="cloudaccount.form.button.delete">Delete</button>
                                </div>
                                <div class="col-xs-6">
                                    <button ng-click="goToProfile()" class="btn btn-secondary pull-right" translate="cloudaccount.form.button.back">Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
