<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Catalogue of Services</h2>
                <!--
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                -->
            </div>
        </div>
        <!-- pre services -->
        <div class="row text-center filters-wrapper">
            <div class="col-lg-12 filter-options">
                <button class="btn btn-energy" data-group="energy">
                    <i class="icon"></i>Energy Efficiency
                </button>
                <button class="btn btn-data" data-group="data"><i class="icon"></i>Open Data</button>
                <button class="btn btn-apps" data-group="apps"><i class="icon"></i>Mobile Applications</button>
                <!--
                <button id="searchlink" class="btn btn-search">
                    <i class="icon"></i>Search
                    <form class="col-lg-6 col-lg-offset-3 searchform" id="search">
                        <input type="text" class="s" id="s" placeholder="keywords..." />
                        <button type="submit" class="sbtn"><i class="fa fa-search"></i></button>
                    </form>
                </button>
                -->
            </div>
        </div>


        <!-- services catalogue-->
        <div class="row portfolio-wrapper" id="portfolio-grid">
            <!-- TODO: The data-groups have to be defined somwhere -->
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item item-data"  ng-repeat="app in applicationList" data-groups='["apps"]'>
                <a href="#" class="portfolio-link" ng-click="detail(app)">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <div class="portfolio-caption middle-xs">
                        <h4>{{app.applicationName}}</h4>
                        <p class="text-muted">{{ app.applicationDescription }}</p>
                    </div>
                    <div class="portfolio-image" style="background-image:url({{app.applicationImage}});"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<section id="partners" class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center h4">
                    OUR <strong>CONSORTIA</strong>:
                    <br /><br /><br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <img src="assets/img/partners/img_consortia.png" class="img-responsive img-centered" alt="" />
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" translate="contact.title">Contact Us</h2>
                <!--
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form id="contactForm" ng-show="!success" name="form" role="form" novalidate ng-submit="contact()" show-validation>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" name="name" required data-validation-required-message="Please enter your name."
                                       placeholder="{{'contact.form.placeholder.name' | translate}}" ng-model="message.name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address."
                                       placeholder="{{'contact.form.placeholder.email' | translate}}" ng-model="message.email" ng-minlength=5 ng-maxlength=100 />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Please enter your phone number."
                                       placeholder="{{'contact.form.placeholder.phone' | translate}}" ng-model="message.phone" ng-minlength=5 ng-maxlength=100 />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="company" name="companyName"
                                       placeholder="{{'contact.form.placeholder.companyName' | translate}}"
                                       ng-model="message.companyName" ng-minlength=5 ng-maxlength=100 />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" required data-validation-required-message="Please enter a message."
                                          placeholder="{{'contact.form.placeholder.message' | translate}}"
                                          ng-model="message.message" ng-minlength=5 ng-maxlength=100 ></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" ng-disabled="form.$invalid" class="btn btn-xl btn-primary" translate="contact.form.button">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!--
<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="catalogue.title">Services available in CloudOpting</div>
        <div class="panel-body webuiPanel">
            <div class="row">
                <div class="col-md-6" ng-repeat="app in applicationList | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="text-uppercase darkgreen"><strong>{{app.applicationName}}</strong></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{app.applicationImage}}" width="100%">
                            </div>
                            <div class="col-md-6">
                                <div class="caption">
                                    <p>{{ app.applicationDescription | limitTo: 120 }}{{app.applicationDescription.length > 120 ? '...' : ''}}</p>
                                </div>
                                <div>
                                    <button type="button" class="col-md-12 btn btn-success" ng-click="detail(app)"
                                            translate="catalogue.button.choose">Service Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-md-offset-5">
            <button class="btn-default small" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button class="btn-default small" ng-disabled="nextDisable()" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>
-->