<section class="wizzard-modal" id="signin">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="wizard-box">
                    <ul class="nav nav-wizard">
                        <li class="done">
                            <a href="#">
                                <span class="badge">1</span> <span class="text">Set Global Properties</span>
                            </a>
                        </li>
                        <li class="done">
                            <a href="#">
                                <span class="badge">2</span> <span class="text">Specify Entry Scheme</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <span class="badge badge-inverse">3</span> <span class="text">Create Test Entry</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span class="badge">4</span> <span class="text">Check Your Data</span>
                            </a>
                        </li>
                    </ul>
                    <div class="backend-box-content">
                        <div class="alert alert-danger hide">
                            <!-- FIXME: This message has no sense -->
                            <strong>Authentication failed!</strong> Please check your credentials and try again.
                        </div>
                        <form class="form" role="form dropzone">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <img src="assets/img/auth/icn_help.png" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="btn btn-reverse" ngf-select ng-model="toscaFiles" ngf-change="addToscaArchive($files)" translate="publish.select.addtosca">+ Add TOSCA Archive</div>
                            </div>
                            <div class="form-group">
                                <div accept="image/*,audio/*,video/*" class="drop-box">
                                    <span class="">Drag and drop to upload (Not working yet)</span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="isToscaFilesEmpty()">
                                <label class="sr-only" for="toscaArchive" translate="publish.select.tosca">TOSCA Archive</label>
                                <input type="text" class="form-control" id="toscaArchive" placeholder="{{'publish.select.toscaempty' | translate}}" />
                            </div>
                            <div class="form-group" ng-hide="isToscaFilesEmpty()">
                                <label class="sr-only" for="toscaArchive" translate="publish.select.tosca">TOSCA Archive</label>

                                <div  ng-repeat="file in toscaFiles">
                                    <div class="input-group">
                                        <span class="input-group-addon" translate="publish.content.file">File</span>
                                        <input class="form-control" type="text" autocomplete="off" value="{{file.name}}" disabled/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn" ng-click="deleteToscaArchive(file)" translate="publish.button.delete">Delete File</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-actions">
                                <div class="col-xs-9">
                                    <!--<button type="submit" class="btn btn-primary">Save</button>-->
                                    <button ng-disabled="isToscaEmpty()" type="button" class="btn btn-primary" ng-click="saveConfiguration()" translate="publish.button.save">Save</button>
                                    <!--<button type="submit" class="btn btn-secondary">Update</button>-->
                                </div>
                                <div class="col-xs-3">
                                    <button ng-disabled="disablePublish" type="button" class="btn btn-primary pull-right" ng-click="publishService()" translate="publish.button.publish">Publish Service</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--

<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="publish.title">Publish Service</div>
        <div class="panel-body">
            <form novalidate class="">
                <div class="form-group row">
                    <div class="btn btn-info" ngf-select ng-model="toscaFiles" ngf-change="addToscaArchive($files)" translate="publish.select.addtosca">+ Add TOSCA Archive</div>
                </div>
                <div class="form-group row" ng-show="isToscaFilesEmpty()">
                    <label class="darkgreen" translate="publish.select.tosca">TOSCA Archive</label>
                    <input class="form-control" type="text" autocomplete="off" value="{{'publish.select.toscaempty' | translate}}" disabled />
                </div>
                <div class="form-group row" ng-hide="isToscaFilesEmpty()">
                    <label class="darkgreen" translate="publish.select.tosca">TOSCA Archive</label>

                    <div  ng-repeat="file in toscaFiles">
                        <div class="input-group">
                            <span class="input-group-addon" translate="publish.content.file">File</span>
                            <input class="form-control" type="text" autocomplete="off" value="{{file.name}}" disabled/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" ng-click="deleteToscaArchive(file)" translate="publish.button.delete">Delete File</button>
                            </span>
                        </div>
                    </div>
                </div>
                <button ng-disabled="isToscaEmpty()" type="button" class="btn btn-success" ng-click="saveConfiguration()" translate="publish.button.save">Save Configuration</button>
                <button ng-disabled="disablePublish" type="button" class="btn btn-success" ng-click="publishService()" translate="publish.button.publish">Publish Service</button>
            </form>
        </div>
    </div>
</div>
-->