<section class="wizzard-modal">
    <div class="container wrapper-white">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="wizard-box backend-box">
                    <ul class="nav nav-wizard">
                        <li class="done">
                            <div class="nav-wizard-content">
                                <span class="badge">1</span> <span class="text" translate="publish.wizzard.one">Set Global Properties</span>
                            </div>
                        </li>
                        <li class="active">
                            <div class="nav-wizard-content">
                                <span class="badge">2</span> <span class="text" translate="publish.wizzard.tow">Upload needed files</span>
                            </div>
                        </li>
                        <li class="">
                            <div class="nav-wizard-content">
                                <span class="badge">3</span> <span class="text" translate="publish.wizzard.three">Upload TOSCA archive</span>
                            </div>
                        </li>
                        <li class="">
                            <div class="nav-wizard-content">
                                <span class="badge">4</span> <span class="text" translate="publish.wizzard.four">Request Status</span>
                            </div>
                        </li>
                    </ul>
                    <div class="backend-box-content">
                        <div class="alert alert-danger hide">
                            <div class="alert alert-info" ng-show="infoMessage">
                                {{infoMessage}}
                            </div>
                            <div class="alert alert-danger" ng-show="errorMessage">
                                {{errorMessage}}
                            </div>
                        </div>
                        <form class="form" role="form dropzone">
                            <div class="row hidden">
                                <div class="col-md-12 text-right">
                                    <img src="assets/img/auth/icn_help.png" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--<button type="button" class="btn btn-reverse">+ Add item in library</button>-->
                                        <div class="btn btn-reverse" ngf-select ng-model="contentLib" ngf-change="newContentLib($files)" translate="publish.button.add">+ Add Item in Library</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-show="isLibraryEmpty()">
                                        <label class="sr-only" for="contentLibrary" translate="publish.content.library">Content Library</label>
                                        <input type="text" class="form-control" id="contentLibrary" placeholder="{{'publish.content.library' | translate}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" ng-hide="isLibraryEmpty()" ng-repeat="content in libraryList">
                                        <label class="sr-only" for="contentLibrary" translate="publish.content.library">Content Library</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" translate="publish.content.file">File</span>
                                            <input class="form-control" type="text" autocomplete="off" value="{{content.name}}" disabled />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn" ng-click="deleteLib(content)" translate="publish.button.delete">Delete file</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-actions">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary" ng-disabled="form_publish.$invalid" ng-click="saveConfigurationWizardTwo()" translate="publish.button.save" ng-autodisable>Save</button>
                                </div>
                                <div class="col-xs-6">
                                    <!-- ng-disabled="isLibraryEmpty()" -->
                                    <button type="button" class="btn btn-primary pull-right" ng-disabled="disableNextTwo" ng-click="nextWizardTwo()" translate="publish.button.next" ng-autodisable>Save Configuration & Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>