<section class="wizzard-modal" id="signin">
    <div class="container wrapper-white">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="wizard-box">
                    <ul class="nav nav-wizard">
                        <li class="active">
                            <a href="#">
                                <span class="badge">1</span> <span class="text">Set Global Properties</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span class="badge">2</span> <span class="text">Specify Entry Scheme</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span class="badge badge-inverse">3</span> <span class="text">Create Test Entry</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span class="badge">4</span> <span class="text">Check Your Data</span>
                            </a>
                        </li>
                    </ul>
                    <div class="backend-box-content">
                        <div class="alert alert-danger hide">
                            <!-- TODO: This messages has no sense!! -->
                            <strong>Authentication failed!</strong> Please check your credentials and try again.
                        </div>
                        <form class="form" role="form dropzone" name="form_publish">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <img src="assets/img/auth/icn_help.png" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="processID">Process ID</label>
                                <input type="text" class="form-control" id="processID" autocomplete="off" ng-model="processID" disabled placeholder="Process ID"/>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="serviceName">Service Name</label>
                                <input type="text" class="form-control" id="serviceName" placeholder="{{'publish.service.name' | translate}}"
                                       autocomplete="off" name="name" ng-model="application.applicationName"
                                       ng-minlength=1 required/>

                                <div ng-show="form_publish.name.$dirty && form_publish.name.$invalid || form_publish.name.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.name.$error.required"
                                       translate="publish.messages.validate.name.required">
                                        The name is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="form_publish.name.$error.minlength"
                                       translate="publish.messages.validate.name.minlength">
                                        The name is required to be at least 1 character.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="toscaName">Tosca Name</label>
                                <input type="text" class="form-control" id="toscaName" placeholder="{{'publish.service.toscaname' | translate}}"
                                       autocomplete="off" name="toscaname" ng-model="application.applicationToscaName"
                                       ng-pattern="/^[a-zA-Z0-9\-_]{0,10}$/" ng-minlength=1 ng-maxlength=10 required maxlength="10"/>

                                <div ng-show="form_publish.toscaname.$dirty && form_publish.toscaname.$invalid || form_publish.toscaname.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.toscaname.$error.required"
                                       translate="publish.messages.validate.toscaname.required">
                                        The Service TOSCA Name is required.
                                    </p>
                                    <p class="help-block"
                                       ng-show="form_publish.toscaname.$error.minlength"
                                       translate="publish.messages.validate.toscaname.minlength">
                                        The Service TOSCA Name is required to be at least 1 character.
                                    </p>
                                    <p class="help-block"
                                       ng-show="form_publish.toscaname.$error.maxlength"
                                       translate="publish.messages.validate.toscaname.maxlength">
                                        The Service TOSCA Name cannot be longer than 10 characters.
                                    </p>
                                    <!--No spaces witha a limit of 40 characters -> "/^[a-zA-Z0-9\-_]{0,40}$/"-->
                                    <p class="help-block"
                                       ng-show="form_publish.toscaname.$error.pattern"
                                       translate="publish.messages.validate.toscaname.pattern">
                                        The Service TOSCA Name cannot contain spaces.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="termsAndConditions">Terms and conditions link</label>
                                <input type="text" class="form-control" id="termsAndConditions" placeholder="{{'publish.service.termsAndConditions' | translate}}"
                                          autocomplete="off" name="termsAndConditions" ng-model="application.terms"
                                          required/>

                                <div ng-show="form_publish.termsAndConditions.$dirty && form_publish.termsAndConditions.$invalid || form_publish.termsAndConditions.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.termsAndConditions.$error.required"
                                       translate="publish.messages.validate.termsAndConditions.required">
                                        The terms and conditions link is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="servicePrice">Service Price</label>
                                <input type="text" class="form-control" id="servicePrice" placeholder="{{'publish.service.servicePrice' | translate}}"
                                       autocomplete="off" name="servicePrice" ng-model="application.servicePrice"
                                       required/>

                                <div ng-show="form_publish.servicePrice.$dirty && form_publish.servicePrice.$invalid || form_publish.servicePrice.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.servicePrice.$error.required"
                                       translate="publish.messages.validate.servicePrice.required">
                                        The service price is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="platformPrice">Platform Price</label>
                                <input type="text" class="form-control" id="platformPrice" placeholder="{{'publish.service.platformPrice' | translate}}"
                                       autocomplete="off" name="platformPrice" ng-model="application.platformPrice"
                                       required/>

                                <div ng-show="form_publish.platformPrice.$dirty && form_publish.platformPrice.$invalid || form_publish.platformPrice.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.platformPrice.$error.required"
                                       translate="publish.messages.validate.platformPrice.required">
                                        The platform price is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- FIXME: Deleted sr-only class -->
                                <label for="sizeId">Size</label>
                                <select class="form-control" id="sizeId" placeholder="{{'publish.service.sizeId' | translate}}"
                                        autocomplete="off" name="sizeId" ng-model="application.size"
                                        ng-options="appSize as appSize.size for appSize in applicationSizes track by appSize.id"
                                        required>
                                </select>

                                <div ng-show="form_publish.sizeId.$dirty && form_publish.sizeId.$invalid || form_publish.sizeId.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.sizeId.$error.required"
                                       translate="publish.messages.validate.sizeId.required">
                                        The size is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="applicationSubscriberMail">Subscriber mail template</label>
                                <textarea class="form-control" id="applicationSubscriberMail" placeholder="{{'publish.service.applicationSubscriberMail' | translate}}"
                                          autocomplete="off" name="applicationSubscriberMail" ng-model="application.applicationSubscriberMail" rows="3"
                                          required/>

                                <div ng-show="form_publish.applicationSubscriberMail.$dirty && form_publish.applicationSubscriberMail.$invalid || form_publish.applicationSubscriberMail.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.applicationSubscriberMail.$error.required"
                                       translate="publish.messages.validate.applicationSubscriberMail.required">
                                        The subscriber mail template is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="applicationSpMail">Provider mail template</label>
                                <textarea class="form-control" id="applicationSpMail" placeholder="{{'publish.service.applicationSpMail' | translate}}"
                                          autocomplete="off" name="applicationSpMail" ng-model="application.applicationSpMail" rows="3"
                                          required/>

                                <div ng-show="form_publish.applicationSpMail.$dirty && form_publish.applicationSpMail.$invalid || form_publish.applicationSpMail.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.applicationSpMail.$error.required"
                                       translate="publish.messages.validate.applicationSpMail.required">
                                        The provider mail template is required.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="shortDescription">Short Description</label>
                                <textarea class="form-control" id="shortDescription" placeholder="{{'publish.service.shortDescription' | translate}}"
                                          autocomplete="off" name="shortDescription" ng-model="application.shortDescription" rows="3"
                                          required/>

                                <div ng-show="form_publish.shortDescription.$dirty && form_publish.shortDescription.$invalid || form_publish.shortDescription.$touched">
                                    <p class="help-block"
                                       ng-show="form_publish.shortDescription.$error.required"
                                       translate="publish.messages.validate.shortDescription.required">
                                        The short description is required.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- FIXME: ADDED NEW STYLE IN ORDER TO SOLVE VISIBILITY PROBLEMS -->
                                    <div class="form-group" style="height: 600px">
                                        <div class="form-control textarea-lg">
                                            <!-- FIXME: ADDED SOME KIND OF TEMPLATE. FIX THIS -->
                                            <div text-angular placeholder="{{'publish.service.description' | translate}}"
                                                 rows="5" autocomplete="off" name="description" ng-model="application.applicationDescription"
                                                 ng-minlength=1 required>

                                                <p>[Place your description of the service here]</p>
                                                <h5 class="service-summary-heading">Features</h5>
                                                <ul class="service-summary-features-and-benefits">
                                                    <li>[Place your features here]</li>
                                                    <li>[Place your features here]</li>
                                                </ul>
                                                <h5 class="service-summary-heading">Benefits</h5>
                                                <ul class="service-summary-features-and-benefits">
                                                    <li>[Place your benefits here]</li>
                                                    <li>[Place your benefits here]</li>
                                                </ul>
                                                <h5 class="service-summary-heading">Support</h5>
                                                <h5 class="service-summary-heading">Price</h5>
                                                <h5 class="service-summary-heading">Contact</h5>
                                                <ul class="service-summary-features-and-benefits">
                                                    <li>Name, Surname: [Place your name here]</li>
                                                    <li>Phone number: [Place your phone number here]</li>
                                                    <li>E-mail: [Place your e-mail here]</li>
                                                </ul>

                                            </div>
                                            <!--<textarea class="form-control textarea-lg" placeholder="{{'publish.service.description' | translate}}"></textarea>-->

                                            <div ng-show="form_publish.description.$dirty && form_publish.description.$invalid || form_publish.description.$touched">
                                                <p class="help-block"
                                                   ng-show="form_publish.description.$error.required"
                                                   translate="publish.messages.validate.description.required">
                                                    The description is required.
                                                </p>
                                                <p class="help-block"
                                                   ng-show="form_publish.description.$error.minlength"
                                                   translate="publish.messages.validate.description.minlength">
                                                    The description is required to be at least 1 character.
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div accept="image/*,audio/*,video/*" class="drop-box">
                                            <span class="">Drag and drop to upload (Not working yet)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--FIXME: We should delete the BR -->
                            <br/>


                            <div class="form-group">
                                <label class="darkgreen" translate="publish.service.image">Service Image</label>
                                <!--ngf-multiple="multiple"-->
                                <div class="btn btn-info" ngf-select ngf-multiple="false" ngf-change="newPromoImage($files)" translate="publish.select.file">Select File</div>
                            </div>

                            <div class="form-group row" ng-show="files">
                                <label translate="publish.selectedfile">Selected File</label>
                                <!--
                                <input ng-repeat="file in files" class="form-control" type="text" autocomplete="off" value="{{file.name}}" disabled />
                                -->
                                <div ng-repeat="file in files">
                                    <div class="input-group">
                                        <span class="input-group-addon" translate="publish.content.file">File</span>
                                        <input class="form-control" type="text" autocomplete="off" value="{{file.name}}" disabled />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-danger" ng-click="deletePromotionalImage(file)" translate="publish.button.delete">Delete Item</button>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <!-- FIXME: Deleted sr-only class -->
                                <label for="applicationIsTryable">Can the platform be tried</label>
                                <input type="checkbox" class="form-control" id="applicationIsTryable" placeholder="{{'publish.service.applicationIsTryable' | translate}}"
                                       autocomplete="off" name="applicationIsTryable" ng-model="application.applicationIsTryable"/>
                            </div>

                            <div class="row row-actions">
                                <div class="col-xs-9">
                                    <button type="button" class="btn" ng-disabled="form_publish.$invalid || disableSave" ng-click="saveWizardOne()">Save</button>
                                    <button type="button" class="btn btn-secondary" ng-disabled="form_publish.$invalid || disableUpdate" ng-click="updateWizardOne()">Update</button>
                                </div>
                                <div class="col-xs-3">
                                    <button type="button" class="btn btn-primary btn-block" ng-disabled="disableNextOne" ng-click="nextWizardOne()">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
