<!-- NOTE:
     data-target is set in order to avoid a jquery problem.
     Check http://stackoverflow.com/questions/16785264/jquery-syntax-error
-->
<!-- Navigation -->

  <div class="container wrapper-white" ng-controller="NavbarController">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav navbar-nav navbar-right pre-header">
                <!-- Development only -->
                <li ng-show="logoutButton" class="dropdown" ng-controller="MenuController">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Menu<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-show="showMenu('publish')"><a ui-sref="publish" data-target="#publish" >Publish Service</a></li>
                        <!--<li ng-show="showMenu('catalogue')"><a ui-sref="catalogue">Service Catalogue</a></li>-->
                        <li ng-show="showMenu('list')"><a ui-sref="list" data-target="#list" >Services Manager</a></li>
                        <li ng-show="showMenu('user_manager')"><a ui-sref="user_manager" data-target="#user_manager" >User Manager</a></li>
                        <li ng-show="showMenu('org_manager')"><a ui-sref="org_manager" data-target="#org_manager" >Org Manager</a></li>
                        <li ng-show="showMenu('toscaide')"><a ui-sref="toscaide" data-target="#toscaide">Tosca IDE</a></li>
                        <!--<li ng-show="showMenu('manager')"><a ui-sref="manager">User/Org Manager</a></li>-->
                        <li ng-show="showMenu('button')"><a ui-sref="button" data-target="#button" >(Button Screen)</a></li>
                        <!--<li ng-show="showMenu('detail')"><a ui-sref="detail">Service Detail</a></li>-->
                        <!--<li ng-show="showMenu('subscriber')"><a ui-sref="subscriber" data-target="#subscriber" >Service Subscriber</a></li>-->
                        <!--<li ng-show="showMenu('instances')"><a ui-sref="instances">Instances List - Manager</a></li>-->
                        <!--<li ng-show="showMenu('management')"><a ui-sref="management" data-target="#management" >Service Management</a></li>-->
                        <!--<li ng-show="showMenu('monitoring')"><a ui-sref="monitoring" data-target="#monitoring" >Service Monitoring</a></li>-->
                        <!--<li ng-show="showMenu('logs')"><a ui-sref="logs" data-target="#logs" >Service Logs</a></li>-->
                        <!--<li ng-show="showMenu('form_generation')"><a ui-sref="form_generation">Form Generation Screen</a></li>-->
                    </ul>
                </li>
                <!-- Development only -->

                <li class="dropdown" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Languages<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
                <li role="separator" class="divider">|</li>
                <li class="social-buttons">
                    <a href="https://twitter.com/cloudopting"><i class="fa fa-twitter"></i></a>
                </li>
                <!--
                <li class="social-buttons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                -->
                <li class="social-buttons">
                    <a href="https://www.linkedin.com/company/cloudopting"><i class="fa fa-linkedin"></i></a>
                </li>

            </ul>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <h1 id="logo">
                  <a class="navbar-brand page-scroll" href="index.html#page-top">
                      <img src="assets/img/cloudopting_logo.png" alt="CloudOpting" />
                  </a>
              </h1>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="MenuController">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#" ng-click="catalogue()">Catalogue of Services</a>
                  </li>
                  <li role="separator" class="divider hidden-xs">|</li>
                  <li>
                      <a class="page-scroll" href="#" ng-click="contact()">Contact</a>
                  </li>

                  <li ng-show="logoutButton" role="separator" class="divider hidden-xs">|</li>
                  <li ng-show="logoutButton">
                      <a href="#" ng-click="dashboard()">Dashboard</a>
                  </li>

                  <li role="separator" class="divider hidden-xs">|</li>
                  <li ng-hide="logoutButton">
                      <a ui-sref="login" data-target="#login">Sign in</a>
                  </li>
                  <li ng-show="logoutButton">
                      <a href="#" ng-click="profile()">Account</a>
                  </li>
                  <li role="separator" class="divider hidden-xs">|</li>
                  <li ng-hide="logoutButton">
                      <a ui-sref="register" data-target="#register">Join</a>
                  </li>
                  <li ng-show="logoutButton">
                      <a href="#" ng-click="logout()">Logout</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

<!--
<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span translate="global.title">cloudopting</span> <span class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>

                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet" translate="global.menu.account.main">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &#xA0;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" ng-show="isInRole('ROLE_ADMIN')" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin.main">Admin</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">

                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>

                        <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API Docs</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->
