<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" translate="catalog.title">Services Catalog</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4 " ng-repeat="app in applicationList">
                        <div class="thumbnail" style="min-height:420px;height:420px;">
                            <img src="http://placehold.it/200x180" width="100%">
                            <div class="caption">
                                <h3>{{app.Application.name}}</h3>
                                <p>{{app.Application.other}}</p>
                                <div>
                                    <button type="button" class="btn btn-primary" ng-click="detail(app.Application)"
                                            translate="catalog.button.choose">Choose
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>