
<section>
	<div class="container wrapper-white">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="backend-box">
					<div class="backend-box-cabecera text-center" translate="">
						TOSCA IDE
					</div>
					<div class="backend-box-content">
						<div class="form">
							<div class="form-group">
								 <label for="serviceName" translate="">Service name:</label>
								 <input type="text" class="form-control" ng-model="serviceName"
								  		  name="serviceName" required />
							</div>
							<div class="form-group">
								 <button type="button" class="btn btn-reverse"
								  			ng-click="loadTopology()" ng-disabled="!serviceName.length">Load graph</button>
							</div>
						</div>

						<div class="row">
							<div id="content" class="col-lg-12">
								<div class="form row">
									<div class="col-lg-12">
										<h4>Setting node</h4>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											 <label for="nameNode" translate="">Node name:</label>
											 <input class="form-control" type="text" ng-model="scheda.obj.name" name="nameNode" />
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											 <label for="nodeType" translate="">Node type:</label>
											 <select class="form-control" name="nodeType" ng-model="scheda.obj.objTypes"
											   		ng-options="name for name in objTypes"></select>
										</div>
									</div>
									<div class="col-md-3">
										<button type="button" class="btn btn-reverse btn-block btn-form-cols" ng-click="addObj()">+ Add node</button>
									</div>
								</div>

								<div class="form row">
									<div class="col-lg-12">
										<h4 ng-show="mapData.length>1">Relationship (between 2 nodes)</h4>

										<div class="form-group" ng-hide="mapData.length>1">
											 <label translate=""><small>**After adding 2 nodes, you can start connecting relationships</small></label>
										</div>

										<div class="row" ng-show="mapData.length>1">
											<div class="col-md-3">
												<div class="form-group">
													<label for="fromNode" translate="">Select node 1:</label>
	  												<select name="fromNode" class="form-control" ng-model="formEdges.fromName" ng-options="c.name for c in mapData">
	  			 										<option value="">From</option>
	  			 									</select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="toNode" translate="">Select node 2:</label>
													<select name="toNode" class="form-control" ng-model="formEdges.toName" ng-options="c.name for c in mapData">
														<option value="">To</option>
													</select>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label for="connectionType" translate="">Select relationship:</label>
													<select name="connectionType" class="form-control" ng-model="formEdges.type" ng-options="name for name in formArr">
				 									</select>
												</div>
											</div>
											<div class="col-md-3">
												<button type="button" class="btn btn-reverse btn-block btn-form-cols" ng-click="addEdge()">+ Add relationship</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-7">
								<cytoscape cy-data="mapData" cy-edges="edgeData"
											  cy-templates="templateData" cy-edgetemplates="templateEdgeData"
											  cy-click="doClick(value)" cy-edgeclick="doEdgeClick(value)"></cytoscape>
								<div class="form-group">
									<button type="text" class="btn btn-reverse" ng-click="reset()">Reset graph</button>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form form-nodedata">
									<h4>Node data</h4>

									<form name="myForm" sf-schema="schema" sf-form="form"
										sf-model="model" ng-submit="onSubmit(myForm)"></form>
								</div>
							</div>
						</div>
						<div class="row row-actions">
							<div class="col-xs-6">
								<button type="text" class="btn" ng-click="saveService()" ng-disabled="!serviceName.length">Save graph</button>
							</div>
							<div class="col-xs-6">
								<button type="text" class="btn btn-primary pull-right" ng-click="sendService()" ng-disabled="!serviceName.length">Generate TOSCA</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
