<div class="row">
    <div class="bs-example col-md-offset-1 col-md-10">
        <div class="panel-heading darkgreen" translate="management.title">Service Management</div>
        <div class="panel-body">
            <div class="col-md-12 webuiPanel">
                <span class="mo_text darkgreen" translate="management.titles.operations">Operations</span>
                <div class="row">
                    <div class="btn-group btn-group-justified" role="group" >
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" role="group" ng-click="startService()" translate="management.button.start">Start Service</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" role="group"  ng-click="stopService()" translate="management.button.stop">Stop Service</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" role="group" ng-click="decommissionService()" translate="management.button.decommission">Decommission Service</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" role="group" ng-click="redeployService()" translate="management.button.redeploy">Redeploy Service</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#" translate="management.tab.params">Params</a></li>
                        <li role="presentation"><a href="#" translate="management.tab.monitor">Monitor</a></li>
                        <li role="presentation"><a href="#" translate="management.tab.logging">Logging</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>