<div class="row">


    <div class="bs-example col-md-offset-1 col-md-10">
        <h3>Profile</h3>

        <ul class="nav nav-tabs">
            <li ng-class="{'active': tab_selected === 'tab_settings'}"><a data-toggle="tab" href="#" ng-click="changeTab('tab_settings')">Settings</a></li>
            <li ng-class="{'active': tab_selected === 'tab_password'}"><a data-toggle="tab" href="#" ng-click="changeTab('tab_password')">Password</a></li>
            <li ng-class="{'active': tab_selected === 'tab_organization'}"><a data-toggle="tab" href="#" ng-click="changeTab('tab_organization')">Organization</a></li>
            <li ng-class="{'active': tab_selected === 'tab_cloudaccounts'}"><a data-toggle="tab" href="#" ng-click="changeTab('tab_cloudaccounts')">Cloud Accounts</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab_settings" class="tab-pane" ng-class="{active: tab_selected == 'tab_settings'}">

                <h2 translate="settings.title" translate-values="{username: '{{settingsAccount.login}}'}">User settings for [<b>{{settingsAccount.login}}</b>]</h2>

                <div class="alert alert-success" ng-show="settingsSuccess" translate="settings.messages.success">
                    <strong>Settings saved!</strong>
                </div>

                <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                    <strong>E-mail is already in use!</strong> Please choose another one.
                </div>

                <div class="alert alert-danger" ng-show="settingsError" translate="settings.messages.error.fail">
                    <strong>An error has occurred!</strong> Settings could not be saved.
                </div>

                <form name="form_settings" novalidate ng-submit="save()" show-validation>

                    <div class="form-group">
                        <label translate="settings.form.firstname">First Name</label>
                        <input type="text" class="form-control" name="firstName" placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                               ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                        <div ng-show="form_settings.firstName.$dirty && form_settings.firstName.$invalid">
                            <p class="help-block"
                               ng-show="form_settings.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                                Your first name is required.
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                                Your first name is required to be at least 1 character
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                                Your first name cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="settings.form.lastname">Last Name</label>
                        <input type="text" class="form-control" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                               ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                        <div ng-show="form_settings.lastName.$dirty && form_settings.lastName.$invalid">
                            <p class="help-block"
                               ng-show="form_settings.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                                Your last name is required.
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                                Your last name is required to be at least 1 character
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                                Your last name cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label translate="global.form.email">E-mail</label>
                        <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                               ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                        <div ng-show="form_settings.email.$dirty && form_settings.email.$invalid">
                            <p class="help-block"
                               ng-show="form_settings.email.$error.required" translate="global.messages.validate.email.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.email.$error.email" translate="global.messages.validate.email.invalid">
                                Your e-mail is invalid.
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.email.$error.minlength" translate="global.messages.validate.email.minlength">
                                Your e-mail is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                               ng-show="form_settings.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                                Your e-mail cannot be longer than 100 characters
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form_settings.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
                </form>


            </div>
            <div id="tab_password" class="tab-pane" ng-class="{active: tab_selected == 'tab_password'}">

                <h2 translate="password.title" translate-values="{username: '{{passAccount.login}}'}">Password for [<b>{{passAccount.login}}</b>]</h2>

                <div class="alert alert-success" ng-show="passSuccess" translate="password.messages.success">
                    <strong>Password changed!</strong>
                </div>
                <div class="alert alert-danger" ng-show="passError"  translate="password.messages.error">
                    <strong>An error has occurred!</strong> The password could not be changed.
                </div>

                <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                    The password and its confirmation do not match!
                </div>

                <form name="form_pass" novalidate ng-submit="changePassword()" show-validation>

                    <div class="form-group">
                        <label translate="global.form.newpassword">New password</label>
                        <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form_pass.password.$dirty && form_pass.password.$invalid">
                            <p class="help-block"
                               ng-show="form_pass.password.$error.required" translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="form_pass.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                               ng-show="form_pass.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters
                            </p>
                        </div>
                        <password-strength-bar password-to-check="password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label translate="global.form.confirmpassword">New password confirmation</label>
                        <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form_pass.confirmPassword.$dirty && form_pass.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form_pass.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                                Your password confirmation is required.
                            </p>
                            <p class="help-block"
                               ng-show="form_pass.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                                Your password confirmation is required to be at least 5 characters
                            </p>
                            <p class="help-block"
                               ng-show="form_pass.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                                Your password confirmation cannot be longer than 50 characters
                            </p>
                        </div>
                    </div>

                    <button type="submit" ng-disabled="form_pass.$invalid" class="btn btn-primary" translate="password.form.button">Save</button>
                </form>

            </div>
            <div id="tab_organization" class="tab-pane" ng-class="{active: tab_selected == 'tab_organization'}">

                <h2 translate="password.title" translate-values="{username: '{{passAccount.login}}'}">Organization [<b>{{passAccount.login}}</b>]</h2>

                <form name="form_org" novalidate ng-submit="updateOrganization()" show-validation>

                    <div class="form-group">
                        <label translate="profile.form_org.org_name">Organization name</label>
                        <input type="text" class="form-control" name="org_name" ng-model="org_name">

                    </div>
                    <div class="form-group">
                        <label translate="profile.form_org.org_description">Organization descrription</label>
                        <textarea class="form-control" rows="5" autocomplete="off" name="org_description"
                                  ng-model="org_description"
                                  ></textarea>

                    </div>
                    <div class="form-group">
                        <label translate="profile.form_org.org_status">Organization status (only Admins)</label>
                        <input type="text" class="form-control" name="org_status" ng-model="org_status">

                    </div>
                    <div class="form-group">
                        <label translate="profile.form_org.org_type">Organization type</label>
                        <input type="text" class="form-control" name="org_type"
                               ng-model="org_type" ng-minlength=5 ng-maxlength=50 required>

                    </div>

                    <button type="submit" ng-disabled="form_org.$invalid" class="btn btn-primary" translate="profile.form_org.button">Update</button>
                </form>

            </div>
            <div id="tab_cloudaccounts" class="tab-pane" ng-class="{active: tab_selected == 'tab_cloudaccounts'}">

                <h2 translate="cloudaccount.title">Cloud Accounts</h2>

                <button type="button" class="btn btn-default" ng-click="goToAdd()" translate="cloudaccount.button.add">Add</button>
                <table cellspacing="1" cellpadding="1" class="table-responsive" style="width: 100%;">
                    <tr>
                        <th class="darkgreen" translate="cloudaccount.col.name">Cloud Account Name</th>
                        <th class="darkgreen" translate="cloudaccount.col.provider">Provider</th>
                        <th class="darkgreen" translate="cloudaccount.col.actions">Actions</th>
                    </tr>
                    <tr ng-repeat="cloudAcc in cloudAccList">
                        <td>{{cloudAcc.name}}</td>
                        <td>{{cloudAcc.providerId.provider}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" ng-click="goToEdit(cloudAcc)" translate="cloudaccount.button.edit">Edit</button>
                                <button type="button" class="btn btn-default" ng-click="deleteCloudAccount(cloudAcc)" translate="cloudaccount.button.delete">Delete</button>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

</div>